<h1 class='title-memes'>CHECK OUT THE MOST POPULAR MEMES!</h1>
<div class='mt-boxes'>

  {{#each getAll}}
    <div class='mt-box'>
      <div class='{{_id}}'>
        <div class='mt-img-wrap'><img src='{{url}}' /></div>
        <div class='mt-title'>
          <span>User: {{owner.username}}</span>

          {{#if checked}}

            <div><a href='/memes/community/{{_id}}'><span
                  class='material-icons'
                > favorite</span>

              </a></div>
          {{else}}
            <div><span>Add to Favourites:</span><a
                href='/memes/community/{{_id}}'
              ><span class='material-icons'>favorite_border</span></a></div>
          {{/if}}

          <button data-meme-id='{{_id}}' class='likesButton'>{{likes}}</button>
        </div>
      </div>
    </div>
  {{/each}}

</div>
<script src='/scripts/likes.js'></script>